<% layout('/layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div>
        <%if(campground.images.length>= 1) {%>
            <div class="photoPageHead">
                <div>
                    <h2 class="card-title">Photos for <%= campground.title %></h2>
                    <a href="/campgrounds/<%= campground._id %>" class="">Back to <%= campground.title %></a>
                    <a id="uploadPhoto" class="btn btn-primary-index btn-lg" href="/campgrounds/<%=campground._id%>/edit"
                        >Upload Photo</a>
                    <p>
                        <em> Number of Photos: <strong><%= campground.images.length %></strong></em>
                    </p>
                </div>
            </div>
            <% } else {%>
                <div class="photoPageHead">
                    <div>
                        <h2 class="card-title">Photos for <%= campground.title %>
                        </h2>
                        <h5>No Photos Uploaded</h5>
                        <a href="/campgrounds/<%= campground._id %>" class="">Back to <%= campground.title %></a>
                        <%if(campground.images.length>= 1) {%>
                        <a id="uploadPhoto" class="btn btn-primary-index btn-lg " href="/campgrounds/<%= campground._id %>/edit"
                            >Upload Photo</a>
                            <% }else{ %> 
                                <% } %> 
                        <p>
                            <em> Number of Photos: <strong>
                                    <%= campground.images.length %>
                                </strong></em>
                        </p>
                    </div>
                </div>
                <% } %>
    </div>
   

    <div class="row justify-content-center">
        <div class="col-md-10">

            <%if(campground.images.length>= 1) {%>
                <h6 class="allPhotosText">All Photos</h6>
                <% }else{ %> 
                    <a href="/campgrounds/<%= campground._id %>/edit">
                    <div class=" uploadDiv container ">
                  <h4 class="btn  btn-lg">Upload Photos</h4>
                    </div>
                </a>
            <% } %> 


            <div class="row mb-3">
                <% for (var i=0; i < campground.images.length; i++) {%>
                    <div class="col-sm-3 mb-3">
                        <img class="imgThumb" src="<%= campground.images[i].url %>"
                            onclick="openModal();currentSlide(<%=i+1 %>);" class="hover-shadow cursor">
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="close cursor" onclick="closeModal()">Close<span class="closeIcon"> &times;</span></div>
            <% for (var i=0; i < campground.images.length; i++) {%>
                <div class="mySlides">
                    <div class="numbertext">
                        <%= i+1 %> / <%= campground.images.length %>
                    </div>
                    <img src="<%= campground.images[i].url %>">
                </div>
                <% } %>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="caption">
                            <%= campground.title %>
                        </p>
                    </div>
                    <div class="bottomCaption cursor" onclick="closeModal()"> Browse all
                    </div>
        </div>

    </div>
<footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campground = '<%- JSON.stringify(campground) %>';
 </script>

<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
        showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
       
        slides[slideIndex - 1].style.display = "block";
        }
</script>


